@model IEnumerable<aes.Models.RacunElektraObracunPotrosnje>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatumObracuna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brojilo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojRacuna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RVT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RNT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrijemeUnosa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatumObracuna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brojilo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojRacuna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RVT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RNT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrijemeUnosa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
