@model aes.Models.ElektraKupac
@{
    ViewData["Title"] = "Details";
}
<div class="content-bg">
    <div class="row head-bg justify-content-between">
        <p class="h6" style="font-size: 0.8rem;"><strong>Detalji:</strong> Ugovorni račun: @Model.UgovorniRacun</p>
    </div>
    <div>
        <strong> OMM: </strong>
        <a href="/Ods/Details/@Model.OdsId">@Model.Ods.Omm</a>
        <strong> ID: </strong>
        <a href="/Stanovi/Details/@Model.Ods.Stan.StanId">@Model.Ods.Stan.StanId</a>
        <strong> Adresa: </strong> @Model.Ods.Stan.Adresa
        <strong> Kat: </strong> @Model.Ods.Stan.Kat
        <strong> Broj stana: </strong>@Model.Ods.Stan.BrojSTana
        <strong> Četvrt: </strong>@Model.Ods.Stan.Četvrt
        <strong> Površina: </strong>@Model.Ods.Stan.Površina
        <strong> Status korištenja: </strong>@Model.Ods.Stan.StatusKorištenja
        <strong> Vlasništvo: </strong> @Model.Ods.Stan.Vlasništvo
    </div><hr />
    <ul class="nav nav-tabs nav-tabs-style" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Ugovorni račun</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="racuni-elektra-tab" data-toggle="tab" href="#racuni-elektra" role="tab" aria-controls="racuni-elektra" aria-selected="false">Računi - elektra</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="racuni-elektra-rate-tab" data-toggle="tab" href="#racuni-elektra-rate" role="tab" aria-controls="racuni-elektra-rate" aria-selected="false">Računi - elektra - rate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="racuni-elektra-izvrsenje-usluge-tab" data-toggle="tab" href="#racuni-elektra-izvrsenje-usluge" role="tab" aria-controls="racuni-elektra-izvrsenje-usluge" aria-selected="false">Računi Elektra - izvršenje usluge</a>
        </li>
    </ul>

    <div class="tab-content nav-content-box" id="myTabContent">
        <div class="tab-pane fade space-10-10 show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            Plaćeni računi: <br />
            Plaćene rate: <br />
            Plaćeni računi - izvršenje usluge: <br />
        </div>
        <div class="tab-pane fade space-10-10" id="racuni-elektra" role="tabpanel" aria-labelledby="racuni-elektra-tab">
            <table class="display nowrap w-100 " id="RacunElektraTable">
                <thead>
                    <tr>
                        <th>Broj računa</th>
                        <th>Ugovorni račun</th>
                        <th>Datum izdavanja</th>
                        <th>Iznos</th>
                        <th>Klasa plaćanja</th>
                        <th>Datum potvrde</th>
                        <th>Napomena</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="tab-pane fade space-10-10" id="racuni-elektra-rate" role="tabpanel" aria-labelledby="racuni-elektra-rate-tab">
        <table class="display nowrap w-100" id="RacunElektraRateTable">
            <thead>
                <tr>
                    <th>Broj računa</th>
                    <th>Ugovorni račun</th>
                    <th>Razdoblje</th>
                    <th>Iznos</th>
                    <th>Klasa plaćanja</th>
                    <th>Datum potvrde</th>
                    <th>Napomena</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="space-10-10">
        <button onclick="location.href='@Url.Action("Index", "ElektraKupci")'" type='button' class='button-back' id='remove'><i class='bi bi-arrow-left'></i>  povratak na listu</button>
        <button onclick="location.href='@Url.Action("Edit", "ElektraKupci", new { id = Model.Id })'" type='button' class='button-back' id='remove'><i class="bi bi-pencil-fill"></i>  uredi</button>
    </div>
</div>
<script>
    const racuniUrl = "/ElektraKupci/GetRacuniForStan";
    const racuniRateUrl = "/ElektraKupci/GetRacuniRateForStan";
    const uslugeUrl = "/ElektraKupci/GetRacuniElektraIzvrsenjeForStan";
    const param = @Model.Id;
</script>
<script src="~/js/Stanovi/Details/stanDetailsDatatablesAdjust.js" asp-append-version="true"></script>
<script src="~/js/Stanovi/Details/RacunElektraTable.js" asp-append-version="true"></script>
<script src="~/js/Stanovi/Details/RacunElektraRateTable.js" asp-append-version="true"></script>
<script src="~/js/Stanovi/Details/RacunElektraIzvrsenjeUslugeTable.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {
        stanDetailsDatatablesAdjust();
    });
</script>
