@model aes.Models.Ods

@{
    ViewData["Title"] = "Edit";
}
<div class="content-bg">
    <div class="row head-bg justify-content-between">
        <p class="h6" style="font-size: 0.8rem;"><strong>Uređivanje:</strong> Obračunsko mjerno mjesto: @Model.Omm</p>
    </div>

    <div>
        <strong> ID: </strong>
        <a href="/Stanovi/Details/@Model.Stan.Id">@Model.Stan.StanId</a>
        <strong> Adresa: </strong> @Model.Stan.Adresa
        <strong> Kat: </strong> @Model.Stan.Kat
        <strong> Broj stana: </strong>@Model.Stan.BrojSTana
        <strong> Četvrt: </strong>@Model.Stan.Četvrt
        <strong> Površina: </strong>@Model.Stan.Površina
        <strong> Status korištenja: </strong>@Model.Stan.StatusKorištenja
        <strong> Vlasništvo: </strong> @Model.Stan.Vlasništvo
    </div><hr />

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        @* atributi su potrebni za bind - ne trbam ih vidljive, samo da povuće i zapiše podatke *@
        @* ------------------------------------------------------------------------------------ *@
        <div hidden style="display: none;">
            <div class="form-group">
                <label asp-for="StanId" class="control-label"></label>
                <select asp-for="StanId" class="form-control" asp-items="ViewBag.StanId"></select>
                <span asp-validation-for="StanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VrijemeUnosa" class="control-label"></label>
                <input asp-for="VrijemeUnosa" class="form-control" />
                <span asp-validation-for="VrijemeUnosa" class="text-danger"></span>
            </div>
        </div>
        @* ------------------------------------------------------------------------------------ *@

        <div class="row space-10-10">
            <div class="col-md-2">
                <div class="form-group">
                    Obračunsko mjerno mjesto
                    <input asp-for="Omm" class="form-control form-control-sm" />
                    <span asp-validation-for="Omm" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    Napomena
                    <input asp-for="Napomena" class="form-control form-control-sm" />
                    <span asp-validation-for="Napomena" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-start align-items-center padding-30">
                <button type="submit" class="dt-button">Spremi</button>
            </div>
        </div>
    </form>
    <hr />
    <div>
        <button onclick="location.href='@Url.Action("Index", "RacuniElektra")'" type='button' class='button-back' id='remove'><i class='bi bi-arrow-left'></i>  povratak na listu</button>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
