@model IEnumerable<aes.Models.Stan>

@{
    ViewData["Title"] = "Index";
}

<h4>Stanovi - pregled</h4>

<hr />
<p>
    <a asp-action="Create">Dodaj novi</a>
</p>
<hr />
<table class="table" id="indexTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StanId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SifraObjekta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojSTana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naselje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Četvrt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Površina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusKorištenja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vlasništvo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StanId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SifraObjekta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrojSTana)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naselje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Četvrt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Površina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusKorištenja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Korisnik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vlasništvo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{

}
<script>
    $(document).ready(function () {
        $('#indexTable').DataTable({
            "order": [[2, 'asc']],
            "bLengthChange": false
        });
    });
</script>
