@model IEnumerable<aes.Models.Stan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StanId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SifraObjekta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vrsta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojSTana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naselje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Četvrt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Površina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusKorištenja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vlasništvo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DioNekretnine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sektor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrijemeUnosa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StanId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SifraObjekta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vrsta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojSTana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naselje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Četvrt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Površina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusKorištenja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vlasništvo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DioNekretnine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sektor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrijemeUnosa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
