@model aes.Models.RacunElektra

@{
    ViewData["Title"] = "Edit";
}
<div class="content-bg">
    <div class="row head-bg justify-content-between">
        <p class="h6" style="font-size: 0.8rem;"><strong>Uređivanje:</strong> Broj računa: @Model.BrojRacuna</p>
    </div>
    <div>
        <strong> ID: </strong>
        <a href="/Stanovi/Details/@Model.ElektraKupac.Ods.Stan.Id">@Model.ElektraKupac.Ods.Stan.StanId</a>
        <strong> Adresa: </strong> @Model.ElektraKupac.Ods.Stan.Adresa
        <strong> Kat: </strong> @Model.ElektraKupac.Ods.Stan.Kat
        <strong> Broj stana: </strong>@Model.ElektraKupac.Ods.Stan.BrojSTana
        <strong> Četvrt: </strong>@Model.ElektraKupac.Ods.Stan.Četvrt
        <strong> Površina: </strong>@Model.ElektraKupac.Ods.Stan.Površina
        <strong> Status korištenja: </strong>@Model.ElektraKupac.Ods.Stan.StatusKorištenja
        <strong> Vlasništvo: </strong> @Model.ElektraKupac.Ods.Stan.Vlasništvo
    </div><hr />

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row space-10-10">
            <div class="col-md-3">
                <div class="form-group">
                    Broj računa
                    <input asp-for="BrojRacuna" class="form-control form-control-sm" />
                    <span asp-validation-for="BrojRacuna" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    Datum izdavanja
                    <input asp-for="DatumIzdavanja" class="form-control form-control-sm" />
                    <span asp-validation-for="DatumIzdavanja" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    Iznos
                    <input asp-for="Iznos" class="form-control form-control-sm" />
                    <span asp-validation-for="Iznos" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row space-10-10">
            <div class="col-md-3">
                <div class="form-group">
                    Klasa plaćanja
                    <input asp-for="KlasaPlacanja" class="form-control form-control-sm" />
                    <span asp-validation-for="KlasaPlacanja" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    Datum potvrde
                    <input asp-for="DatumPotvrde" class="form-control form-control-sm" />
                    <span asp-validation-for="DatumPotvrde" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row justify-content-start align-items-center padding-30">
            <button type="submit" class="dt-button">Spremi</button>
        </div>
    </form>
    <hr />
    <div>
        <button onclick="location.href='@Url.Action("Index", "RacuniElektra")'" type='button' class='button-back' id='remove'><i class='bi bi-arrow-left'></i>  povratak na listu</button>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
